<h1>{{title}}</h1>
<nav>
  <ul>
    <li><a href="" [routerLink]="['/dashboard']">Dashboard</a></li>
    <li><a href="" [routerLink]="['/employee']">Employee</a></li>
    <li><a href="" [routerLink]="['/project']">Project</a></li>
    <li><a href="" [routerLink]="['/admin']">Admin --> Users</a></li>
    <li><a href="" [routerLink]="['/admin/blast']">Admin -- > Blast</a></li>
  </ul>
</nav>
<mat-button-toggle>Ok<i class="material-icons">done</i></mat-button-toggle>
<router-outlet></router-outlet>
